@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: 'IBM Plex Sans', sans-serif;
    }
    .bi{
      font-size: 26px;

    }
    #prop{
      display: flex;
    color: #03a9f4;
    align-items: center;
    margin: 5px 20px;
    font-weight: 800;
    font-size: 20px;
    padding: 9px;
    border-radius: 50%;
    }
    #prop:hover{
      background: grey;
    }
    :root{
      --mdc-theme-primary: #2196f3 !important;
    }
    .mdc-tab .mdc-tab__text-label {
    color: white;
}

    body {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    .nav {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 height: 56px;
  background:rgb(50, 54, 57);

    }
    .nav i {
  
    color: rgb(232,234,237);
    cursor: pointer;
    border-radius: 20px;
  
    padding: 6px;
    margin-left: 8px;
}
.nav i:hover {
    background: #616161;
}
.powered-by-firepad{
  display: none;
}
    #firepad {
      flex: 1;
  left:0; top:0;
  position: sticky;
     display: flex;
    max-width: 100% !important;
    margin:0; padding:0;
    overflow:hidden;
bottom: 0;
margin-bottom: 0;
    float: right!important;
    }
    textarea{
      border: none;
      outline: none !important;
      width: 99.7% !important;
      word-wrap: wrap;
    }
    #output{
      flex: 1;
      height: 100%;
      resize: horizontal;
border: none;
  
    background: rgb(34, 34, 34);
    color: white;
    font-family: 'Courier',monospace;
    width: 100%;
    font-weight: 500;
    }
    #tim{
      display: none
    }
    #input{
      flex: 1;
      height: 100%;
      resize: horizontal;
     border: none;
  
    background: rgb(34, 34, 34);
    color: white;
    font-family: 'Courier',monospace;
    width: 100%;
    font-weight: 500;
    }
        #expout{
      flex: 1;
      height: 100%;
      resize: horizontal;
   border: none;
    
    background:rgb(34, 34, 34);
    color: white;
    font-family: 'Courier',monospace;
    width: 100%;
    font-weight: 500;
    }
    .toolbar {
      position: absolute;
    z-index: 10;
    bottom: 60px;
    right: 100px;
    padding: 4px 10px;
    background: #483d8b69;
    border-radius: 10%;
    }
    .toolbar i{
    
    color: rgb(232,234,237);
    cursor: pointer;
    border-radius: 20px;
    padding: 6px;
    margin: 2px;
    }
.toolbar i:hover {
    background: #21123c;
}
   #cb{
     display: none;
   }
   .chat {
height: calc(100% - 56px);
    /* flex: 1; */
    z-index: 10;
    position: absolute;
    width: 350px;
    background: #1d2333;
    display: none;
    /* border-radius: 0px 20px 20px 0px; */
}
.chat header{
  /* margin: 20px; */
height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.content {
  display: none;
}

.content--active {
  display: block;
  width: 100%;
  height: calc(100% - 48px);
}
.chat header h1{
color: rgb(236, 236, 236);
    text-align: center;
    margin: 0;
    padding-left: 2rem;
}
.chat header i:hover{
  background: rgb(51, 51, 51)
}
.chat header i{
  padding: 10px;margin-right: 2rem;border-radius: 10px;
  color: white;
}
.chat .main{
  word-wrap: break-word;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  font-size: 0.3vw;
  height: calc(100% - 110px);
  color: white;
}
.chat footer{
   /* bottom: 0; */
padding-left: 8px;
    display: flex;
    height: 60px;
    align-items: center;
    /* position: absolute; */
}
.chat footer input{
  height: 40px;width: 90%;
  border: none;
  background: rgb(212, 212, 212);
  outline: none;
}
.text{
  width: 90%;
   
    /* padding-top: 5px; */
   background: #1d2333;
    display: flex;
}
.text i{
  color: #ffffff;
    align-items: center;
    background: #2196f3;
    display: flex;
    margin-left: 10px;
    border-radius: 50%;
    padding: 15px;
    font-size: 12px;
}
/* @media only screen and (max-width: 900px) {
  body {
    flex-direction: column-reverse;
  }
  #1{
display: none;
  }
  #2{
display: none;
  }
  #3{
    display: none;
  }
} */
 .monaco-editor .inputarea { position: fixed !important; top: 0 !important; left: 0 !important; }
