:root{
--mdc-theme-primary:#2196f3 !important;
--height: calc(100vh - 48px);
--h-height: calc(100vh - 48px);
}
.lines-content{
  max-height: 100 !important;
}
.n{
  display: flex;
}
.call{
background:#212121;
    width: 99%;
    height: 99%;
    padding: 6px;
    overflow-y: scroll;
    padding-bottom: 0;

}
.red{
  background:var(--mdc-theme-error) !important;
  color: white !important;
  font-family: 'Material Icons' !important;
}

.call header{
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 2px;
  justify-content: space-between;
}
.call video{
  border-radius: 6px;
}
header{
height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2a2b2e;
    font-family: 'Roboto';
    padding: 0px 40px 0px 20px;
    text-transform: uppercase;
    color: var(--mdc-theme-primary);
}
.mdc-button--raised:not(:disabled){
  color: #2d2d2d !important;
  margin-top: 4px;
    font-family: 'Material Icons';
}
header h2{
  margin: 0;
    font-size: 15px;
    letter-spacing: 2px;
}
.monaco-editor .inputarea { position: fixed !important; top: 0 !important; left: 0 !important; }
.svelte4{
    height: var(--h-height);
}
body{
	margin:0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  }
  main{
	display:flex;
  	margin:0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  }
  #firepad-container{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100% !important;
    font-size: 16px;
    overflow: hidden;
  }
  .rename-box{
    display: none;
  }
  .content textarea{
    flex: 1;
    height: 99.3%;
    max-width: 100%;
    max-height: 100%;
    font-size: 16px;
    outline: none;
    background: #252525;
    color: var(--mdc-theme-primary);
    font-family: 'Roboto';
    letter-spacing: 2.8px;
    font-weight: 900;
    border: none;
  }
.mzist{
  display: flex;
  height: 100%;
}
#input{
  flex: 1;
}
  .content {
  display: none;
}

.content--active {
  display: block;
  width: 100%;
  height: calc(100% - 48px);
}

  .nav{
background: #2a2b2e;
    height: var(--h-height);
    width: 66px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }
  .nav i{
color: white;
    cursor: pointer;

    padding: 18px;
  }
  .nav i:hover{
 background: #616161;

    border-left: 3px solid var(--mdc-theme-primary);
  }
.mdc-tab .mdc-tab__text-label {
    color: var(--mdc-theme-primary) !important;
    font-family: 'Material icons' !important;
}
.mdc-tab-bar {
    background: #2a2b2e;
    /* color: aliceblue; */
}

.chat{
  justify-content: flex-end !important;
  margin-right: 20px;

}
.mdc-dialog__surface{
  height: 100%;
}
.powered-by-firepad{
  display:none !important;
}
.mdc-dialog__surface{
  margin-right: 30px;
}
.svelte1526{
    display: flex;
    position: absolute;
    padding: 8px;
    color: var(--mdc-theme-primary);
    bottom: 45px;
    background: #3a3a3a;
    border-radius: 8px;
  
    left: 50%;
}

.svelte1526 i{
margin:4px;
padding:4px;
border-radius:50%;
}
.svelte1526 i:hover{
background:#61616188;
}
		.chat-content div {

			padding: 10px;
			background: #ececec;
			border-radius: 20px;
			margin: 20px;
			font-size: 1vw;
		}
    .before-load{
         width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #353535d1;
    }
#snackbar {
  visibility: hidden;
 min-width: 170px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 4px;
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: center;
    right: 8%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar p{
  display: flex;
    align-items: center;
    margin: 0;
}
#snackbar img{
  height: 40px;
    margin-left: 10px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.line{
  position:absolute;
  opacity: 0.4;
  background:var(--mdc-theme-primary);
  width:150%;
  height:5px;
}

.subline{
  position:absolute;
  background:var(--mdc-theme-primary);
  height:5px; 
}
.inc{
  animation: increase 2s infinite;
}
.dec{
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
   from { left: -5%; width: 5%; }
   to { left: 130%; width: 100%;}
}
@keyframes decrease {
   from { left: -80%; width: 80%; }
   to { left: 110%; width: 10%;}
}
.slider{
  position:absolute;
  width:500px;
  height:5px;
  overflow-x: hidden;
}
#before-load{
  display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #353535;
}
.sidenav {
  display: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  padding-right: 4px;
  top: 0;
  left: 0;
  background-color: #2a2b2e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
 font-weight: 700;
 display: flex;
align-items: center;

  color: #ffffff;


  font-family: 'Roboto';
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  font-size: 14px;
}
.sidenav i{
  margin-right: 10px;
}
.sidenav a:hover {
    color: var(--mdc-theme-primary);
    background: #f0f8ff42;
    border-left: 3px solid var(--mdc-theme-primary);
}
.sidenav h2{
  padding: 8px 8px 8px 30px;
  color: var(--mdc-theme-primary);
  position: absolute;
  bottom: 150px;
  font-family: 'Roboto';
  text-transform: uppercase;
  margin: 0;
    font-size: 15px;
    letter-spacing: 2px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 9px;
  margin-bottom: 9px;
    color: #818181;
  padding: 6px;
   border-radius: 50%;
}
.sidenav .closebtn:hover{
  background: rgba(44, 44, 44, 0.699);
  color: var(--mdc-theme-primary);
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.h{
  color: white;
  padding: 6px;
   border-radius: 50%;
}
.h:hover{
  background: rgb(36, 36, 36);
}
.before-load-wrap{
  flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.xenial{
  text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--mdc-theme-primary);
}
.xenial-p{
   color: var(--mdc-theme-primary);
    font-size: 20px;
    font-family: 'Roboto';
    letter-spacing: 1px;
}
.loader{
  flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#chat-btn{
  margin-left: 50px;
    padding: 10px;
    background: #2196f3;
    margin-bottom: 2px;
    border-radius: 50%;
}
#chat-txt{
      outline: none;
    border: none;
    width: 70%;
    height: 100%;
    color: white;
    background: #0f1c27;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
}
.mnc{
      flex: 1;
    height: calc(100% - 96px);
    width: 100%;
    /* height: 48px; */
}
.zist{
      width: 90%;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 99%;
    display: flex;
}
.footer-zist{
     width: 100%;
    position: fixed;
    bottom: 0;
    height: 48px;
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat{
  background-image: url(https://lh5.googleusercontent.com/proxy/TnQE7V_9T-JUfIf7glW1FLnxq1hI5UyZQloItJAvLoq2vtbD8LbqxCcA3tN2MyCyA-NIWEgIpok3BrKI-b5hNZC2EtE0HpdCGrKykTwFolCT3mSkvn8-bKI8Nj7ajI2185-HXH-t3vY7nSuQDDne1ffsBVRkdhsE9BP73G7IkJpQMwbQ=w3840-h2160-p-k-no-nd-mv);
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    background-size: cover;
}
.chat header{
      /* width: 100%; */
    /* padding: 10px; */
    border-radius: 0px 0px 10px 10px;
    background: #0f1c27;
}